* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

h1 {
    font-style: normal;
}


@font-face {
    font-family: 'Transformers Movie';     
    src: url(../Fontes/Transformers\ Movie.ttf);
}

@font-face {    
    font-family: 'Dancing Script';     
    src: url(../Fontes/DancingScript-VariableFont_wght.ttf);
}

@font-face {    
    font-family: 'Egyptian Letterss';     
    src: url(../Fontes/Egyptian\ Letters.ttf);
}

@font-face {    
    font-family: 'xilosa';     
    src: url(../Fontes/xilosa_.ttf);
}

@font-face {    
    font-family: 'space age';     
    src: url(../Fontes/space\ age.ttf);
}

:root {
    --font-tipo-1: 'Transformers Movie', 'cursive';
    --font-tipo-2: 'Dancing Script', 'cursive';
    --font-tipo-3: 'Egyptian Letterss', 'cursive';
    --font-tipo-4: 'xilosa', 'cursive';
    --font-tipo-5: 'space age', 'cursive';
    --font-escolha: var(--font-tipo-1);
}

body {
    background-image: var(--img-bg);
    --img-logo: url(../images/LK\ sangue.png);
    --collor-font: #f13239;
    --collor-fontHover: #ffaa00;
    --img-bg: url(../images/decepticons\ 1800.jpg);
    --color-header-footer: linear-gradient(to right, #777777, #000000);
    --img-bg-spotify: url(../images/fumaça\ 1800.jpg);
    transition: all 8s ease-in-out;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body[data-theme="t-decepticons"] {
    --img-logo: url(../images/LK\ sangue.png);
    --font-escolha: var(--font-tipo-1);
    --collor-font: #f13239;
    --collor-fontHover: #e1b55e;
    --img-bg: url(../images/decepticons\ 1800.jpg);
    --img-bg-spotify: url(../images/fumaça\ 1800.jpg);
    --color-header-footer: linear-gradient(to right, #777777, #000000);
    transition: all 6s ease-in-out;
}

body[data-theme="t-artificial-intelligence"] {
    --img-logo: url(../images/Lk\ azul1.png);
    --font-escolha: var(--font-tipo-5);
    --collor-font: #00bbff;
    --collor-fontHover: #9138ff;
    --img-bg: url(../images/capa\ artificial\ intelligence\ 1800.jpg);
    --img-bg-spotify: url(../images/space4\ 1800.jpg);
    --color-header-footer: linear-gradient(to right, #7391ffec, #080038e9);
    transition: all 6s ease-in-out;
}

body[data-theme="t-meu-nordeste"] {
    --img-logo: url(../images/Lk\ marrom.png);
    --font-escolha: var(--font-tipo-4);
    --collor-font: #10940b;
    --collor-fontHover: #963700;
    --img-bg: url(../images/capa\ meu\ nordeste\ 1800.jpg);
    --img-bg-spotify: url(../images/caatinga1\ 1800.jpg);
    --color-header-footer: linear-gradient(to right, rgb(168, 113, 77), #5f2c09);
    transition: all 6s ease-in-out;
}

body[data-theme="t-eye-of-horus"] {
    --img-logo: url(../images/LK\ gold.png);
    --font-escolha: var(--font-tipo-3);
    --collor-font: #ffbb00;
    --collor-fontHover: #fffc40;
    --img-bg: url(../images/capa\ olho\ de\ horus\ 1800.jpg);
    --img-bg-spotify: url(../images/Areia\ noite.jpg);
    --color-header-footer: linear-gradient(to right, #595d64e7, #ffbb00cf);
    transition: all 6s ease-in-out;
}

body[data-theme="t-autobots"] {
    --img-logo: url(../images/LK\ prata.png);
    --font-escolha: var(--font-tipo-1);
    --collor-font: #0cb1f8;
    --collor-fontHover: #acaa3a;
    --img-bg: url(../images/autobots2\ 1700.jpg);
    --img-bg-spotify: url(../images/Optimus7\ 1800.png);
    --color-header-footer: linear-gradient(to right, #acaa3ad2, #0cb1f8d7);
    transition: all 6s ease-in-out;
}

body[data-theme="t-follow-the-flow"] {
    --img-logo: url(../images/LK\ verde.png);
    --font-escolha: var(--font-tipo-2);
    --collor-font: #099b1f;
    --collor-fontHover: #ec6767;
    --font-tipo: url(../Fontes/GreatVibes-Regular.ttf);
    --img-bg: url(../images/capa\ follow\ the\ flow\ 1800.jpg);
    --img-bg-spotify: url(../images/crepusculo2.jpg);
    --color-header-footer: linear-gradient(to right, #fffd8c, #7a2b4a);
    transition: all 6s ease-in-out;
}

header {
    background: var(--color-header-footer);
    transition: all 8s ease-in-out;
    border-bottom: 2px solid var(--collor-font);    
}

header .centro {
    display: flex;
    width: 89%;
    align-items: center;
    margin-left: 6%;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .logo .tema0 {
    background: none;
    border: none;
}

header .logo {
    background-image: var(--img-logo);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 50px;
}

header .logo:hover {
    box-shadow: 0 0 10px 5px var(--collor-font);
    transition: .3s;
}

header .icones {
    padding: 8px 0 8px 8px;   
}

header .icones img {     
    width: 35px;    
    transition: 0.3s;    
}

header .icones img:hover {
    cursor: pointer;
    width: 40px;
    transition: 0.3s;    
}

header .icones a + a {
    margin-left: 8px;    
}

header ul {
    list-style: none; 
    display: flex; 
}

header ul li + li {
    margin-left: 24px;
}

header a {
    font-family: var(--font-escolha);
    font-size: 18px;
    text-shadow: 1px 1px black;
    color: var(--collor-font);
    text-decoration: none;
    transition: color 0.2s;
}

header a:hover {
    color: var(--collor-fontHover);
}

.banner {
    border-bottom: 1px solid var(--collor-font);
}

.slider-principal .slider1 h1 {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.slider-principal .slider1 h1:hover {
    color: var(--collor-fontHover);
    box-shadow: 0 0 10px 5px var(--collor-fontHover);
}

.slider-principal {
    position: relative;
    height: 400px;
}

.slider0, .slider1, .slider2 {
    position: relative;
    height: 400px;
}

.banner img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.banner .slider0 h1 {
    box-shadow: 0 0 10px 5px black;
    background-color: rgba(0, 0, 0, 0.6);
}

.banner .slider2 h1 {
    box-shadow: 0 0 10px 5px black;
    background-color: rgba(0, 0, 0, 0.4);
}

.slider-principal h1 {
    position: absolute;
    font-family: var(--font-escolha);
    color: var(--collor-font);
    text-shadow:0 0 10px #000000;
    box-shadow: 0 0 10px 5px black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    font-size: 200%;
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('/images/anterior.png');
    top: 33%;
    left: 15%;
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px var(--collor-font);
    border-radius: 40%;
    transition: all .3s ease-in-out;
}

button.slick-prev:hover, button.slick-next:hover {
    box-shadow: 0px 0px 20px 5px var(--collor-fontHover);
    border-radius: 50%; 
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('/images/proximo.png');
    top: 33%;
    right: 15%;
    cursor: pointer;
    box-shadow: 0px 0px 15px 5px var(--collor-font);
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.slick-list {
    width: 100%!important;
}

.slick-dots li button {
    font-size: 0px;
    border: 2px solid var(--collor-font);
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    display: flex;
    left: 44%;
    position: absolute;    
    top: 350px;
}

li.slick-active button {
    background: var(--collor-fontHover);
}

.slick-dots li {    
    padding-left: 10px;
    display: inline-block;
}

.slick-initialized {
    overflow: hidden;
}

.container {
    position: relative;
    padding: 15px;
    padding-right: 27px;
    padding-left: 27px;
    max-width: 1200px;
    height: 450px;
    margin: 70px auto 130px;
}

.container h2 {
    font-family: var(--font-escolha);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: clamp(1.5em, 1em + 1vw, 1.5em);
    margin-top: 45px;
    margin-bottom: 2px;
    padding-left: 8px;
    color: var(--collor-font);
    border-left: 4px solid var(--collor-fontHover);    
}

.container a {    
    text-decoration: none;
}

.container h3 {
    font-family: var(--font-escolha);
    text-shadow: 1px 1px black;
    font-size: clamp(1em, 1em + 1vw, 1.5em);   
    margin-bottom: 40px;
    padding-left: 8px;
    color: var(--collor-font);
    border-left: 4px solid var(--collor-fontHover);
    transition: 0.5s;
}

.container h3:hover {
    color: var(--collor-fontHover);
    transition: 0.5s;
    text-shadow: 0 0 10px var(--collor-font);    
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.gallery {   
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    height: 200px;
}

.gallery .video:hover {
    border-radius: 3px;
    box-shadow: 0 0 10px 7px var(--collor-fontHover);
    transition: all .3s ease-in-out;
}

.gallery1, .gallery2 {   
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    height: 5px;
    position: relative;
}

.gallery1 .item,.gallery2 .item2 {
    min-width: 300px;
    width: 100%;
    height: 3px;
    border: 3px solid var(--collor-font);
    border-radius: 8px;
    transition: all 300ms ease-in-out;
}

.gallery1 .current-item {
    border: 3px solid var(--collor-fontHover);
    box-shadow: 0 0 10px 8px var(--collor-font);
}

.gallery2 .current-item2 {
    border: 3px solid var(--collor-fontHover);
    box-shadow: 0 0 10px 8px var(--collor-font);
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 50px;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 30px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: var(--collor-font);
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, var(--collor-font) 300%);
    opacity: 0.8;
    transition: all 400ms ease-in-out;
}

.arrow-right {    
    left: auto;
    right: 0;    
    background: linear-gradient(to right, transparent 0%, var(--collor-font) 300%);    
}

.arrow-left:hover,
.arrow-right:hover {
    width: 50px;
    font-size: 40px;
    color: var(--collor-fontHover);
    opacity: 1;
}

section {
    width: auto;
    background-image: var(--img-bg-spotify);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: auto;
    right: auto;
    border-top: 1px solid var(--collor-font);
    border-bottom: 1px solid var(--collor-font);
    padding-top: 40px;
    transition: all 8s ease-in-out;
}

.container2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;    
}

.spotify {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-around;    
}

.spotify div {    
    flex: 1 1 372px;
    padding: 5px;
}

.logo-spotify img {    
    width: 31%;
    padding-bottom: 15px;
    transition: 0.3s;
}

.logo-spotify img:hover {
    width: 34%;
    transition: 0.3s;    
}

.logo-spotify h3 {
    color: var(--collor-font);
    text-shadow: 1px 1px black;
    font-family: var(--font-escolha);
    font-size: clamp(1em, 1em + 1vw, 1.7em);
    transition: 0.3s;
}

.logo-spotify h3:hover {
    cursor: pointer;
    color: var(--collor-fontHover);
    transition: 0.3s;
    text-shadow: 0 0 10px var(--collor-font);
}

.logo-spotify a {
    text-decoration: none;
}

.imagem-lakke img {
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
    box-shadow: 0 0 40px var(--collor-font);
    transition: 0.3s;    
}

.imagem-lakke img:hover {
    box-shadow: 0 0 50px 7px var(--collor-fontHover);    
    transition: 1s;
    cursor: pointer;
}

.janela-spotify iframe {
    height: 25em;
}

.apoiadores {
    background: none;
    height: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;   
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border: none;
}

.apoio {
    text-align: left;
    width: 100%;    
    font-family: var(--font-escolha);
    text-shadow: 1px 1px rgb(0, 0, 0);    
    padding-left: 8px;
    color: var(--collor-font);
    border-left: 4px solid var(--collor-fontHover);
    height: 30px;
}

.logo-apoiadores {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px;
    padding-top: 20px;   
}

.logo-apoiadores h1 {
    margin-bottom: 25px;
}

.logo-apoiadores img {    
    width: 100%;
    min-width: 100px;
    max-width: 200px;       
    transition: 0.3s;
    border-radius: 50%;
    box-shadow: 0 0 25px 5px var(--collor-font);
    margin-top: 10px;  
}

.logo-apoiadores img:hover {
    width: 95%;
    transition: 0.3s;
    box-shadow: 0 0 25px 10px var(--collor-fontHover);    
}

footer {
    background: var(--color-header-footer);
    border-top: 2px solid var(--collor-font);
    padding: 64px 0 0 0;
    text-align: center;
    height: 180px;
    transition: all 8s ease-in-out;
}

footer p {
    font-family: var(--font-escolha);
    font-size: 18px;
    color: var(--collor-font);
    text-shadow: 1px 1px black;
    cursor: grab;
}


/*FALE COM LAKKE___________________________________________________*/
.container3 {
    background-image: url('../images/Decepticons.jpg');
    background-size: cover;
    background-position: center;    
}

.limite {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
}

.imagem-lakke2 {
    width: 30%;
    min-width: 250px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.imagem-lakke2 img {
    width: 100%;
    box-shadow: 0 0 30px #f13239;
    border-radius: 50%;
    transition: .3s;
}

.imagem-lakke2 img:hover {
    box-shadow: 0 0 70px 5px var(--collor-fontHover);
    transition: 2s;
}

.contato {
    background-image: url('../images/Cimento\ 2.jpeg');
    border: 2px solid var(--collor-font);
    background-size: auto;
    background-position: 10%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;    
    height: 340px;
    border-radius: 10px;
    width: 50%;
    max-width: 40%;
    min-width: 320px;
    
}

.caixa {
    width: 100%;
    min-width: 320px;
    padding: 20px;
}

.caixa div {
    margin: 10px 0;
}

.topic-box {
    font-family: var(--font-escolha);
    font-size: 26px;
    color: var(--collor-font);
    text-shadow: 1px 1px 0 black;
    padding-top: 20px;
    padding-bottom: 10px;
    border-left: 5px solid var(--collor-fontHover);
    margin: 0;
    padding: 0 0 0 8px;
}

.input-box input {
    width: 100%;
    height: 30px;
}

.input-box input[type=text] {
    padding-left: 10px;
}

.input-box input[type=email] {
    padding-left: 10px;
}

.input-box textarea {
    width: 100%;
    height: 130px;
    margin-right: 15px;
    font-size: 16px;
}

.input-box textarea::placeholder {
    font-size: 15px;
}

.input-box textarea[type=text] {
    padding-left: 10px;
    padding-top: 3px;
}

.caixa .button button {
    width: 90px;
    height: 30px;
    font-family: var(--font-escolha);
    margin-bottom: 15px;
    cursor: pointer;
    background-color: #1b1b1b;
    border: 3px solid var(--collor-font);
    border-radius: 8px;
    color: var(--collor-font);
    font-style: bold;
    transition: .5s;
    text-shadow: 1px 1px #1b1b1b;
    
}

.caixa .button button:hover {
    background-color: #e1b55e;
    border: 3px solid #1b1b1b;
    text-shadow: 1px 1px #b0b0b0;
    box-shadow: 0 0 10px var(--collor-font);
    color: var(--collor-font);;
    transition: .5s;
    font-weight: bold;
}




/* Pagina 3 thanks__________________________________________________________________*/
.obrigado{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 600px;    
    text-align: center;
}

.obrigado .texto-obrigado {
    max-width: 1200px;
    background-image: url('../images/Cimento\ 2.jpeg');
    opacity: 87%;
    border: 2px solid var(--collor-font);
    border-radius: 8px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;    
}

.obrigado h1, h2, h3 {    
    font-size: clamp(1em, 1em + 1vw, 2em);   
    font-family: var(--font-escolha);
    text-decoration: none;
    color: var(--collor-font);
    text-shadow: 1px 1px black;
    transition: .3s;
}

.texto {
    border: 2px solid var(--collor-font);
    background-color: black;
    border-radius: 8px;
    width: 29%;
    min-width: 170px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: .3s;
}

.texto a {
    width: 100%;
    font-size: clamp(1em, 0.5em + 1vw, 1.5em);   
    font-family: var(--font-escolha);
    text-decoration: none;
    color: var(--collor-font);
    text-shadow: 1px 1px black;
    transition: .3s;
}

.obrigado a:hover {
    color: var(--collor-fontHover);;
    transition: .3s;
}

.obrigado .texto:hover {
    border: 2px solid #e1b55e;
    transition: .3s;
    box-shadow: 0 0 15px var(--collor-font);
}

/* BUSINESS Page 4 _______________________________________________________________*/
.coligado {    
    max-width: 1200px;
    height: auto;
    min-height: 550px;
    margin-left: auto;
    margin-right: auto;
    opacity: 90%;
}

.caixa-coligado {
    background-image: url('../images/LK\ prata.png');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    min-height: 500px;
    border: 2px solid var(--collor-font);
    margin: 30px;
    padding: 10px 20px 30px 1%;
    border-radius: 10px;
}

.coligado h1 {
    font-family: var(--font-escolha);
    font-size: clamp(1em, 1em + 1vw, 2em);
    text-align: center; 
    margin: 10px 0 20px 0;   
    color: var(--collor-font);
    transition: .3s;
    text-shadow: 1px 1px 0 black;
    width: 100%;
}

.caixa-coligado .caixa {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: space-between;
}

.caixa-coligado ul {
    width: 40%;
}

.caixa-coligado .qr-code {
    margin-top: 25px;
    text-align: center;
    width: 30%;
    min-width: 220px;
    padding: 10px;
}

.caixa-coligado .qr-code img {
    width: 30%;
    min-width: 150px;
}

.caixa-coligado .qr-code p:hover {
    color: var(--collor-fontHover);
}

.caixa-coligado .qr-code p {
    font-family: var(--font-escolha);
    color: var(--collor-font);
    width: 100%;
    min-width: 200px;
    text-align: justify;
    text-shadow: 1px 1px black;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.caixa-coligado .qr-code a {
    width: 152px;    
    margin: 10px 5px 0 auto;
    
}

.coligado h4 {
    font-family: var(--font-escolha);
    margin-top: 10px 0;
    font-size: clamp(10px, 1em + 1vw, 1.5em);
    color: var(--collor-font);
    text-shadow: 1px 1px 0 black;
}

.coligado ul {
    min-width: 190px;
}

.coligado ul p {
    font-family: var(--font-escolha);
    font-size: clamp(1em, 1em + 1vw, 1.2em);
    color: var(--collor-font);
    text-shadow: 1px 1px 0 black;
    margin: 5px 5%;
}

.coligado h5 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7%;
    color: white;
    text-shadow: 1px 1px 0 black;
}

.coligado li {
    margin-left: 20px;
}

.coligado h6 {
    font-family: var(--font-escolha);
    margin-left: 40px;
    color: var(--collor-font);
    text-shadow: 1px 1px 0 black;
}

.caixa-coligado button, .caixa-coligado .button, .quadro-geral button {
    height: 27px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid var(--collor-font);
    border-radius: 5px;
    padding: 2px 5px;
    background-color: black;
    color: var(--collor-font);    
    font-family: var(--font-escolha);
    transition: .3s;
    margin: 5px 0;    
}

.caixa-coligado .button:hover,.caixa-coligado button:hover, .quadro-geral button:hover  {
    border: 2px solid #1b1b1b;
    background-color: var(--collor-fontHover);
    color: var(--collor-font);    
    font-family: var(--font-escolha);
    transition: .3s;
    box-shadow: 0 0 10px var(--collor-font);
}

.caixa-coligado .subtitle {
    transition: .3s;
    cursor: pointer;
}

.caixa-coligado .subtitle:hover {
    color: var(--collor-fontHover);;
    text-shadow: 0 0 10px var(--collor-fontHover);
}

.caixa-coligado .button {
    margin-right: auto;
    margin-left: 5%;
    display: block;    
    width: 153px;
}

#vantagens-parceiro{display: none}
#vantagens-parceiro1{display: none}
#vantagens-parceiro2{display: none}

#vantagens-apoiador{display: none}
#vantagens-apoiador1{display: none}
#vantagens-apoiador2{display: none}
#vantagens-apoiador3{display: none}

#vantagens-patrocinador{display: none}
#vantagens-patrocinador1{display: none}
#vantagens-patrocinador2{display: none}
#vantagens-patrocinador3{display: none}
#vantagens-patrocinador4{display: none}
#vantagens-patrocinador5{display: none}
#vantagens-patrocinador6{display: none}
#vantagens-patrocinador7{display: none}

#vantagens-collab{display: none}

/*COLLABS page 4_____________________________________________________________*/
.quadro-geral {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.quadro-geral h1, .artistas a {
    color: var(--collor-font);
    font-family: var(--font-escolha);
    text-shadow: 1px 1px 0 black;
    text-align: center;
    margin-bottom: 25px;
    padding: 0 10px;
    text-decoration: none;
    transition: .3s;
}

.artistas h1:hover {
    text-shadow: 0 0 20px var(--collor-font);
    color: var(--collor-fontHover);;
    transition: 1s;
}

.quadro-geral span p {
    max-width: 600px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: var(--collor-font);
    font-family: var(--font-escolha);
    text-shadow: 1px 1px 0 black;
    padding: 0 10px;
}

.quadro-geral .artistas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.quadro-geral button {
    margin-left: 5%
}

.artistas .smart {
    max-width: 310px;
    padding: 10px;    
}

.artistas .smart .foto-smart {
    width: 300px;
    box-shadow: 0 0 30px var(--collor-font);
    border-radius: 50%;
    transition: .5s;
}

.artistas .smart .foto-smart:hover {
    box-shadow: 0 0 50px var(--collor-fontHover);
    transition: 1s;
}

.artistas .smart .logo-smart {
    width: 300px;
    margin-top: -40px;
}

.artistas .space {
    max-width: 450px;
    padding: 10px;
}

.artistas .space .foto-space {
    max-width: 400px;
    box-shadow: 0 0 30px var(--collor-font);    
    border-radius: 50%;
    width: 100%;
    transition: .5s;
}

.artistas .space .foto-space:hover {
    box-shadow: 0 0 50px var(--collor-fontHover);
    transition: 1s;
}

.artistas .space .logo-space {
    max-width: 400px;
    width: 100%;
    margin-top: -40px;
}

#txtCollab{display: none}

/* RESPOSIVIDADE ____________________________________________________________*/

@media screen and (max-width: 320px) {
    .item {
        width: 240px;
    }
}

@media (max-width: 768px) {
    .slider-principal h1 {
      font-size: 30px;
    }
}

@media (max-width: 425px) {
    .slider-principal h1 {
      font-size: 20px;
    }
}