* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

h1 {
    font-style: normal;

}

@font-face {
    font-family: transformers;
    src: url(../Transformers\ Movie.ttf);
    font-weight: normal;
    font-size: normal;
}

body {
    font-family: sans-serif;
    background-color: #612a2d;
    background-image: url('../images/Decepticons.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


header {       
    background: linear-gradient(to right, rgb(94, 94, 94), rgb(0, 0, 0));
    border-bottom: 2px solid #f13239;    
}

header .centro {
    display: flex;
    width: 89%;
    align-items: center;
    margin-left: 6%;
    justify-content: space-around;
    flex-wrap: wrap;
}

header .logo img {
    width: 90px;
}

header .icones {
    padding: 8px 0 8px 8px;   
}

header .icones img {     
    width: 35px;    
    transition: 0.3s;    
}

header .icones img:hover {
    cursor: pointer;
    width: 40px;
    transition: 0.3s;    
}

header .icones a + a {
    margin-left: 8px;    
}

header ul {
    list-style: none; 
    display: flex; 
}

header ul li + li {
    margin-left: 24px;
}

header a {
    font-family: transformers;
    font-size: 18px;
    text-shadow: 1px 1px black;
    color: #f13239;
    text-decoration: none;
    transition: color 0.2s;  
}

header a:hover {
    color: #e1b55e;
}

.banner {
    height: 400px;
    max-width: max-content;
    display: flex;
    border-bottom: 1px solid #f13239;
}

.banner img{
    height: 400px;
    width: 100%;
    object-fit: cover;    
}

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('/images/anterior.png');
    top: 33%;
    left: 15%;
    cursor: pointer;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('/images/proximo.png');
    top: 33%;
    right: 15%;
    cursor: pointer;
}

.slick-list {
    width: 100%!important;
}

.slick-dots li button {
    font-size: 0px;
    border: 2px solid #fbefe1;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    display: flex;
    left: 44%;
    position: absolute;    
    top: 350px;
}

li.slick-active button {
    background: #f13239;
}

.slick-dots li {    
    padding-left: 10px;
    display: inline-block;
}

.slick-initialized {
    overflow: hidden;
}

.container {
    position: relative;
    padding: 15px;
    padding-right: 27px;
    padding-left: 27px;
    max-width: 1200px;
    height: 450px;
    margin: 70px auto 130px;
}

.container h2 {
    font-family: transformers;
    text-shadow: 1px 1px rgb(0, 0, 0);
    margin-top: 45px;
    margin-bottom: 2px;
    padding-left: 8px;
    color: #f13239;
    border-left: 4px solid #e1b55e;    
}

.container h3 {
    font-family: transformers;
    text-shadow: 1px 1px black;
    font-size: 23px;   
    margin-bottom: 40px;
    padding-left: 8px;
    color: #f13239;
    border-left: 4px solid #e1b55e;
    transition: 0.5s;
}

.container a {
    text-decoration: none;
}

.container h3:hover {
    color: #e1b55e;
    transition: 0.5s;
    text-shadow: 0 0 10px #f13239;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    height: 250px;
}

.item {
    width: 400px;
    border-radius: 16px;
    height: 200px;
    border: 3px solid #f13239;
    border-radius: 8px;
    transition: all 300ms ease-in-out;
}

.current-item {
    border: 3px solid #e1b55e;
    box-shadow: 0 0 10px #f13239;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 50px;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 30px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, #f13239 300%);
    opacity: 0.6;
    transition: all 400ms ease-in-out;
}

.arrow-right {    
    left: auto;
    right: 0;    
    background: linear-gradient(to right, transparent 0%, #f13239 300%);    
}

.arrow-left:hover,
.arrow-right:hover {
    width: 50px;
    font-size: 40px;
    color: #f13239;
    opacity: 1;
}

section {
    width: auto;
    background-image: url('../images/Cimento\ 2.jpeg');
    left: auto;
    right: auto;
    border-top: 1px solid #f13239;
    border-bottom: 1px solid #f13239;
}

.container2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;    
}

.spotify {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-around;    
}

.spotify div {    
    flex: 1 1 372px;
    padding: 5px;
}

.logo-spotify img {    
    width: 31%;
    padding-bottom: 15px;
    transition: 0.3s;
}

.logo-spotify img:hover {
    width: 34%;
    transition: 0.3s;    
}

.logo-spotify h3 {
    color: #f13239;
    text-shadow: 1px 1px black;
    font-family: transformers;
    font-size: 140%;
    transition: 0.3s;
}

.logo-spotify h3:hover {
    cursor: pointer;
    color: #e1b55e;
    transition: 0.3s;
    text-shadow: 0 0 10px #f13239;
}

.logo-spotify a {
    text-decoration: none;
}

.imagem-lakke img {
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
    box-shadow: 0 0 19px #f13239;
    transition: 0.3s;    
}

.imagem-lakke img:hover {
    box-shadow: 0 0 40px #e1b55e;    
    transition: 2s;
    cursor: pointer;
}

.janela-spotify iframe {
    height: 25em;
}

.apoiadores {
    background: none;
    height: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;   
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border: none;
}

.apoio {
    text-align: left;
    width: 100%;    
    font-family: transformers;
    text-shadow: 1px 1px rgb(0, 0, 0);    
    padding-left: 8px;
    color: #f13239;
    border-left: 4px solid #e1b55e;
    height: 30px;
}

.logo-apoiadores {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px;
    padding-top: 20px;   
}

.logo-apoiadores h1 {
    margin-bottom: 25px;
}

.logo-apoiadores img {    
    width: 100%;
    min-width: 100px;
    max-width: 200px;       
    transition: 0.3s;
    border-radius: 50%;
    box-shadow: 0 0 15px #f13239;    
}

.logo-apoiadores img:hover {
    width: 95%;
    transition: 0.3s;
    box-shadow: 0 0 20px #e1b55e;
}

footer {
    background: linear-gradient(to right, rgb(94, 94, 94), rgb(0, 0, 0));
    border-top: 2px solid #f13239;
    padding: 64px 0;
    text-align: center;
    height: 180px;
}

footer p {
    font-family: transformers;
    font-size: 18px;
    color: #f13239;
    text-shadow: 1px 1px black;
}


/*FALE COM LAKKE___________________________________________________*/

.container3 {
    background-image: url('../images/Decepticons.jpg');
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
}

.limite {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.imagem-lakke2 {
    width: 30%;
    min-width: 250px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.imagem-lakke2 img {
    width: 100%;
}

.contato {
    background-image: url('../images/Cimento\ 2.jpeg');
    border: 2px solid #f13239;
    background-size: auto;
    background-position: 10%;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;    
    height: 340px;
    border-radius: 10px;
    width: 50%;
    max-width: 40%;
    min-width: 320px;
    
}

.caixa {
    width: 100%;
    min-width: 320px;
    padding: 20px;
}

.caixa div {
    margin: 10px 0;
}

.topic-box {
    font-family: transformers;
    font-size: 20px;
    color: #b0b0b0;
    text-shadow: #e1b55e;
    padding-top: 20px;
    padding-bottom: 10px;
}

.input-box input {
    width: 100%;
    height: 30px;
}

.input-box input[type=text] {
    padding-left: 10px;
}

.input-box input[type=email] {
    padding-left: 10px;
}

.input-box textarea {
    width: 100%;
    height: 130px;
    margin-right: 15px;
}

.input-box textarea::placeholder {
    font-size: 15px;
}

.input-box textarea[type=text] {
    padding-left: 10px;
    padding-top: 3px;
}

.button button {
    width: 90px;
    height: 30px;
    font-family: transformers;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: #1b1b1b;
    border: 3px solid #f13239;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-style: bold;
    transition: .5s;
    text-shadow: 1px 1px #1b1b1b;
    
}

.button button:hover {
    background-color: #e1b55e;
    border: 3px solid #3c3c3c;
    text-shadow: 1px 1px #b0b0b0;
    color: #1b1b1b;
    transition: .5s;
    font-weight: bold;
}




/* Pagina 3 Obrigado__________________________________________________________________*/
.obrigado{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 600px;    
    text-align: center;
}

.obrigado .texto-obrigado {
    max-width: 1200px;
    background-image: url('../images/Cimento\ 2.jpeg');
    opacity: 87%;
    border: 2px solid #f13239;
    border-radius: 8px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    
}

.obrigado h1, h2, h3 {    
    width: 100%;
    font-size: 200%;   
    font-family: transformers;
    text-decoration: none;
    color: #f13239;
    text-shadow: 1px 1px black;
    transition: .3s;
}

.texto {
    border: 2px solid #f13239;
    background-color: black;
    border-radius: 8px;
    width: 50%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: .3s;
}

.texto a {
    width: 100%;
    font-size: 200%;   
    font-family: transformers;
    text-decoration: none;
    color: #f13239;
    text-shadow: 1px 1px black;
    transition: .3s;
}

.obrigado a:hover {
    color: #e1b55e;
    transition: .3s;
}

.obrigado .texto:hover {
    border: 2px solid #e1b55e;
    transition: .3s;
}




/* RESPOSIVIDADE ____________________________________________________________*/

@media screen and (max-width: 320px) {
    .item {
        width: 240px;
    }
}