body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: var(--img-bg2);
    background-position: center;
    transition: 3s;
}

body[data-theme="t-light"] {
    --img-bg2: url(../../images/autobots2\ _\ nome.jpg);
    transition: 3s;
}

body[data-theme="t-dark"] {
    --img-bg2: url(../../images/autobots4.jpg);
    transition: 3s;
}

.my-title {
    color: #333;
}

.my-field {
    color: #333;    
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
}

.my-button {    
    color: #333;
    border: none;
    padding: 0.5rem;
}